# Laravel backend (senior_living_backend)
senior_living_backend/vendor/
senior_living_backend/node_modules/
senior_living_backend/.env
senior_living_backend/public/storage
senior_living_backend/public/build/
senior_living_backend/storage/*.key
senior_living_backend/storage/framework/sessions/*
senior_living_backend/storage/framework/views/*
senior_living_backend/storage/framework/cache/data/*
senior_living_backend/storage/logs/*.log
senior_living_backend/.phpunit.result.cache
senior_living_backend/Homestead.yaml
senior_living_backend/Homestead.json
senior_living_backend/npm-debug.log
senior_living_backend/yarn-error.log
senior_living_backend/coverage

# Flutter (senior_living)
senior_living/.dart_tool/
senior_living/.idea/
senior_living/.flutter-plugins
senior_living/.flutter-plugins-dependencies
senior_living/.packages
senior_living/build/
senior_living/*.iml
senior_living/*.ipr
senior_living/ios/Pods/
senior_living/ios/.symlinks/
senior_living/ios/Flutter/App.framework
senior_living/ios/Flutter/engine.xcconfig
senior_living/ios/Flutter/podhelper.rb
senior_living/ios/Flutter/Generated.xcconfig
senior_living/ios/Runner/GeneratedPluginRegistrant.*
senior_living/android/.gradle/
senior_living/android/captures/
senior_living/android/local.properties
senior_living/android/app/src/main/jniLibs/
senior_living/**/GeneratedPluginRegistrant.java
senior_living/.metadata
senior_living/linux/flutter/ephemeral
senior_living/macos/Flutter/ephemeral
senior_living/windows/flutter/ephemeral
senior_living/web/flutter_bootstrap.js
senior_living/web/main.dart.js*
senior_living/web/assets/assets/AssetManifest*
senior_living/web/assets/assets/FontManifest*
senior_living/web/assets/assets/NOTICES*
senior_living/web/assets/assets/AssetManifest*
senior_living/web/assets/canvaskit/
senior_living/web/assets/shaders/
senior_living/web/dart_tool_output/

# OS generated files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db